* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}



/* .Logout {
  display: flex;
  height: 90vh;
  background-image: url('/public/images/brainbg3.jpg');
  align-items: center;
  justify-content: center;
} */







